.Categories {
    margin:20px;
    
}
.Category-list {
    display: flex;
    flex-wrap: wrap;
    
}
.Category-img {
    width: 200px;
    height:200px;
    border: 2px solid black;
    
}
.Category-name-categories {
    height:50px;
    text-align: center;
}
.CategoryTemplate {
    border: 2px solid black;
    margin: 20px;
    transition: scale 0.4s;
}
.CategoryTemplate:hover{ 
    scale: 1.08;
}
.category-Link {
    text-decoration:none !important;
}
.categorylist-flex {
    display:flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
.CategoryTitle {
    font-size: 27px;
    margin: 2.5%;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    display: inline-block;
}
/*filter--->>*/
.filter {

}
.filteroption {
    display: inline-block;
    margin:8px;
}
.filterlabel{
    display: inline-block;
}