.Menu {
    width:40%;
    display:inline-block;
    
}
.CategoryList {
    display:inline-flex;
    flex-direction: column;
    width: 25%;
    margin: 2% 0;
    border-top:1px solid grey;
    
}
.categorylist-name {
    padding: 4px 2px;
    border-bottom : 1px solid grey;
}
.categorylist-name:hover {
    color : #f1356d;

}
.categorylist-name:active {
    color : #f1356d;
    background-image: linear-gradient(to right, rgba(250,80,80,0),rgba(250,80,80,0.08));
    border-right : 5px solid #ff5050;
}
.home {
    display: flex;
    margin: 0 10%;
}